:root {
  --color-base-0: white;
  --color-base-50: whitesmoke;
  --color-base-100: #ebebeb;
  --color-base-150: #dddddd;
  --color-base-200: #d0d0d0;
  --color-base-250: #c3c3c3;
  --color-base-300: #b5b5b5;
  --color-base-350: #a8a8a8;
  --color-base-400: #9a9a9a;
  --color-base-450: #8d8d8d;
  --color-base-500: gray;
  --color-base-550: #727272;
  --color-base-600: #656565;
  --color-base-650: #575757;
  --color-base-700: #4a4a4a;
  --color-base-750: #3c3c3c;
  --color-base-800: #2f2f2f;
  --color-base-850: #222222;
  --color-base-900: #141414;
  --color-base-950: #070707;
  --color-base-1000: black;
  --color-success-50: #f7fffb;
  --color-success-100: #f0fff7;
  --color-success-150: #e8fff3;
  --color-success-200: #e0ffef;
  --color-success-250: #d9ffeb;
  --color-success-300: #d1ffe6;
  --color-success-350: #c9ffe2;
  --color-success-400: #c1ffde;
  --color-success-450: #baffda;
  --color-success-500: #b2ffd6;
  --color-success-550: #a0e6c1;
  --color-success-600: #8eccab;
  --color-success-650: #7db396;
  --color-success-700: #6b9980;
  --color-success-750: #59806b;
  --color-success-800: #476656;
  --color-success-850: #354d40;
  --color-success-900: #24332b;
  --color-success-950: #121915;
  --color-warning-50: #fffff6;
  --color-warning-100: #ffffed;
  --color-warning-150: #feffe4;
  --color-warning-200: #feffdb;
  --color-warning-250: #feffd2;
  --color-warning-300: #feffc8;
  --color-warning-350: #feffbf;
  --color-warning-400: #fdffb6;
  --color-warning-450: #fdffad;
  --color-warning-500: #fdffa4;
  --color-warning-550: #e4e694;
  --color-warning-600: #cacc83;
  --color-warning-650: #b1b373;
  --color-warning-700: #989962;
  --color-warning-750: #7f8052;
  --color-warning-800: #656642;
  --color-warning-850: #4c4d31;
  --color-warning-900: #333321;
  --color-warning-950: #191910;
  --color-error-50: #fff1f1;
  --color-error-100: #ffe2e4;
  --color-error-150: #ffd4d6;
  --color-error-200: #ffc5c8;
  --color-error-250: #ffb7bb;
  --color-error-300: #ffa9ad;
  --color-error-350: #ff9a9f;
  --color-error-400: #ff8c91;
  --color-error-450: #ff7d84;
  --color-error-500: #ff6f76;
  --color-error-550: #e6646a;
  --color-error-600: #cc595e;
  --color-error-650: #b34e53;
  --color-error-700: #994347;
  --color-error-750: #80383b;
  --color-error-800: #662c2f;
  --color-error-850: #4d2123;
  --color-error-900: #331618;
  --color-error-950: #190b0c;
  --color-dark-50: #f3f3f3;
  --color-dark-60: #edecee;
  --color-dark-500: #131118;
  --color-dark-500-5: rgba(19, 17, 24, 0.05);
  --color-white-500: white;
  --color-white-500-20: rgba(255, 255, 255, 0.2);
  --color-gray-500: #a4a1aa;
  --color-green-500: #3cd139;
}
